.header__logo {
	margin-right: 93px;
}

.logo {
	font-family: "Raleway";
	@include font(700, 24px, 1.19, null);
	flex-shrink: 0;

	@media screen and (min-width: 1200px) {
		font-size: 26px;
	}
	&__web {
		color: var(--brand-color-accent);
	}

	&__studio {
		color: var(--brand-color_3);
	}

	&__studio--color {
		color: var(--brand-color_6);
	}
}
